---
layout: page
title: Archive
---
<div class="archives">
{% for month in page.months %}
  <h3>{{ month | date:"%B" }} <small>{{ month | date:"%Y" }}</small></h3>
  <ul>
  {% for post in page.posts_by_month[month] %}
    <li>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <p class="meta">
        <i class="fa fa-calendar"></i>
        {{ post.date | date: "%a, %b %-d, %Y" }}
        {% if post.author %} • {{ post.author }}{% endif %}
        {% if post.meta %} • {{ post.meta }}{% endif %}
      
        <i class="fa fa-clock-o"></i> Reading time:
        {% capture readtime %}{{ post.content | number_of_words | plus: 179 | divided_by: 180 }}{% endcapture %}
        {% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min.
      </p>
    </li>
  {% endfor %}
  </ul>
{% endfor %}
</div>